.App-header {
  background-color: white;
  border-bottom: 2px solid #dfdfdf;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: black;
}

.App-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
}

.App-nav__title {
  font-family: 'Cookie', cursive;
  font-size: 3rem; /* 1rem = 16px */
  text-decoration: none;
  color: black;
}

.App-nav__icons {
  display: flex;
  color: black;
}

.App-nav__icons--search {
  font-size: 1.2rem;
  border: none;
  outline:none;
  cursor: pointer;
  background: none;
}

.App-nav__icons--cart {
  font-size: 1.2rem;
  margin-left: 0.5rem; /* So that we have space between the buttons */
  border: none; /* So that no gray border will appear around the button */
  outline:none; /* So that no purple border will appear around the button when we click it */
  cursor: pointer; /* So that the hand icon will appear when we hover over the button */
  background: none; /* So that no gray background will appear when the button is displayed on a mobile phone */
}