@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500&family=Oswald&display=swap');

.App {
  border: 10px black;
  text-align: center;
  min-height: 100vh;
}

body {
  background-color: #f9f9f9;
}


/* --------------------------------------------------------------------------------------------------------------------- */





/* --------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------- */

