@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500&family=Oswald&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
}

body {
  background-color: #f9f9f9;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @media (min-width: 600px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
} */

.App-header {
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
  background-color: white;
  border-bottom: 2px solid #dfdfdf;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: black;
}

.App-nav {
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
}

.App-nav__title {
  font-family: 'Cookie', cursive;
  /* border: 1px solid black; */
  font-size: 3rem; /* 1rem = 16px */
  text-decoration: none;
  /* margin-left: 5rem; */
  color: black;
}

.App-nav__icons {
  display: flex;
  /* margin-right: 5rem; */
  color: black;
}

.App-nav__icons--search {
  font-size: 1.2rem;
  border: none;
  outline:none;
  cursor: pointer;
  background: none;
}

.App-nav__icons--cart {
  font-size: 1.2rem;
  margin-left: 0.5rem; /* So that we have space between the buttons */
  border: none; /* So that no gray border will appear around the button */
  outline:none; /* So that no purple border will appear around the button when we click it */
  cursor: pointer; /* So that the hand icon will appear when we hover over the button */
  background: none; /* So that no gray background will appear when the button is displayed on a mobile phone */
}
/* --------------------------------------------------------------------------------------------------------------------- */

.cards {
  /* border: 5px solid pink; */
  position: relative;
  width: 85%;
  display: grid;
  padding-top: 1.5rem;
  /* Choose the minimum size to be 250px, and if it doens't fit in the screen, move to the following line */
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  /* We need to set position relative here
  * in order for the card discount to appear
  * in the correct bottom left position */
  /* border: 1px solid pink; */
  position: relative;
  margin: 0.2rem;
  margin-bottom: 1.5rem;
}

.card__link {
  /* We need to set position relative here
  * in order for the card discount to appear
  * in the correct bottom left position */
  /* border: 5px solid green; */
  position: relative;
  text-decoration: none;
}

.card__image {
  /* border: 5px solid black; */
  position: relative;
  width: 100%;
  border-radius: 2%;
}

.card__title {
  width: 100%;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #212529;
}

.card__price {
  width: 100%;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 0.9rem;
  color: hsl(210, 11%, 15%);
}

.card__discount{
  position: absolute;
  color: black;
  bottom: 20%;
  width: 15%;
  background-color: rgb(58, 57, 57);
  color: white;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Noto Sans SC', sans-serif;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
