.cart {
  padding-top: 1.5rem;
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans SC', sans-serif;
}

.cart__card {
  /* We need to set position relative here
  * in order for the card discount to appear
  * in the correct bottom left position */
  border-radius: 1%;
  position: relative;
  margin: 0.2rem;
  margin-bottom: 1.5rem;
}

.cart__card__image {
  border: 1px solid #f3f2f2;
  position: relative;
  width: 100%;
  max-width: 400px;
  border-radius: 2%;
}

.cart__empty {
  margin-top: 15%;
  justify-content: center;
  color: #b7b7b7;
}

.cart__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart__total {
  font-size: 1rem;
  font-weight: 600;
  color: #3f4144;
  text-align: left;
  justify-content: center;
  margin: 0 auto;
}

.cart__price {
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.cart__price__actual {
  color: #212529;
  margin-right: 0.5rem;
}

.cart__installment {
  font-size: 0.77rem;
  color: #3f474e;
}

.cart__button {
  min-width: 1.5rem;
  color: #212529;
  background-color: white;
  border-color: #212529;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
}

.cart__button:hover {
  color: white;
  background-color: #212529;
}

.cart__quantity {
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.cart__product__quantity {
  color: #212529;
}

.cart__remove {
  border: none;
  color: #cf3838;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 0.77rem;
}